.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  row-gap: 40px;
}
.card a {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card a:hover .card_img img {
  transform: scale(1.2) rotate(5deg);
}
.card_description {
  background-color: #eee;
  padding: 1em;
}
.card_content {
  flex: 1;
  min-height: 136px;
  display: flex;
  flex-direction: column;
}
.card_img {
  position: relative;
  padding-top: 65.5%;
  overflow: hidden;
}
.card_img img {
  object-fit: cover;
  transition: 0.3s;
}
.card_title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
  flex: 1;
}
.card_categories span {
  display: inline-block;
  padding: 0 1em;
  margin-right: 0.5rem;
  border: 2px solid #ccc;
}
.card_date {
  display: block;
  margin-top: 8px;
  color: #aaa;
}
.card_tags {
  margin-top: 8px;
}
.card_tags span {
  display: inline-block;
  padding: 0 1em;
  margin-right: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #ddd;
}
.like {
  align-items: center;
  margin-top: 10px;
}
.like span:not(:first-child) {
  margin-left: 5px;
}
.like span svg {
  fill: rgba(255, 0, 183, 1);
  vertical-align: bottom;
}
/* .tags span:hover,
.tags span:focus,
.tags span:active {
  color: #0070f3;
  border-color: #0070f3;
} */

@media (max-width: 1023px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .grid {
    display: block;
  }
  .grid li:not(:first-child) {
    margin-top: 40px;
  }
}
