.about {
  margin: 2rem 0;
}
.container {
  width: 1192px;
  padding: 0 16px;
  max-width: 100%;
  margin: 0 auto;
}
.about section:not(:first-child) {
  margin-top: 3rem;
}
.about h2 {
  text-align: center;
}
.myIntro,
.aboutSiteArea {
  width: 420px;
  max-width: 100%;
  margin: 0 auto;
}
.myIntro p {
  line-height: 2;
}
.myImageArea {
  margin: 2rem 0;
}
.myImage {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}
.myImageArea p {
  margin-top: 1em;
  text-align: center;
}
.snsList a {
  text-decoration: underline;
}
.snsList li {
  margin-top: 1em;
}
.aboutSiteArea {
  line-height: 2;
}
.featuresList li::before {
  content: "-";
  margin-right: 5px;
}
