.colorGray {
  color: #aaa;
}
.Linkunderline {
  text-decoration: underline;
}
.inner {
  width: 1192px;
  padding: 0 16px;
  max-width: 100%;
  margin: 2rem auto 6rem;
}
.colums {
  display: flex;
  margin-top: 3rem;
}
.content {
  flex: 1;
}

.content h2 {
  margin: 0.5em 0;
}
.content h3,
.content_excerpt {
  margin: 0.5em 0;
}
.date {
  color: #aaa;
}
.date span {
  display: inline-block;
}
.date span:not(:first-child) {
  margin-left: 1em;
}
.categoryAtricleList {
  margin-top: 3rem;
}
.categoryAtricleList a {
  transition: all 0.3s;
}
.categoryAtricleList a:hover {
  text-decoration: underline;
}
.categoryAtricleList li:not(:first-child) {
  margin-top: 3rem;
}

@media (max-width: 1023px) {
  .colums {
    flex-direction: column;
  }
}
