.header {
  width: 100%;
  background-color: #eee;
}
.inner {
  width: 1160px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.logo a:hover,
.logo a:focus,
.logo a:active {
  opacity: 0.8;
}
