.aside {
  width: 300px;
  margin-left: 20px;
}
.category_title {
  background-color: #eee;
  margin: 0;
  padding: 0.5em 1em;
}
.category_list {
  padding: 1em;
}
.category_list li {
  margin-bottom: 12px;
}

@media (max-width: 1023px) {
  .aside {
    margin-left: 0;
    width: 100%;
    margin-top: 3rem;
  }
}
