.navList {
  display: flex;
  align-items: center;
  transition: all .3s;
}
.navList li a {
  display: inline-block;
  font-weight: bold;
  text-transform: capitalize;
  padding: 1em 1.5em;
}
.navList li a:hover {
  opacity: 0.8;
}
@media (max-width: 1023px) {
  .navList {
    display: none;
  }
  .navList li a{
    font-size: 18px;
    width: 100%;
  }
  .navList.open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    z-index: 9;
    padding: 4rem 16px;
  }
}
