.navList {
  display: flex;
  align-items: center;
}
.navList li a {
  display: inline-block;
  font-weight: bold;
  text-transform: capitalize;
  padding: 1em 1.5em;
  transition: all 0.3s;
}
.navList li a:hover {
  opacity: 0.8;
}
